#web_bg{
    background-image: url("https://img2.huashi6.com/images/resource/2019/08/31/7h6539297p0.jpg?imageView2/3/q/100/interlace/1/w/1600/h/1600");
    background: linear-gradient(102.7deg,#fddaff 8.2%,#dfadfc 19.6%,#adcdfc 36.8%,#adfcf4 73.2%,#caf8d0 90.9%);
    background-repeat: no-repeat;
    background-size: cover;
    
}
